{% extends 'registration/base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'txt_process/css/login.css' %}">
{% endblock %}

{% block body_block %}

    <div class="row">

    	<div class="col-12 d-flex justify-content-center h-100 mt-5">
		<div class="card">
			<div class="card-header text-right">

				<div class="d-flex justify-content-start social_icon">
{#					<span><i class="fab fa-facebook-square"></i></span>#}
{#					<span><i class="fab fa-google-plus-square"></i></span>#}
{#					<span><i class="fab fa-twitter-square"></i></span>#}
				</div>
                <div class="">
                 {% if form.errors %}
                     <div class="alert alert-danger my-rtl">
                         <strong>نام کاربری یا کلمه عبور شما اشتباه است! لطفا مجدد امتحان کنید.</strong>
                     </div>
                     {% else %}
                      <strong>ورود</strong>
                  {% endif %}

                  {% if next %}
                    {% if user.is_authenticated %}
                     <div class="alert alert-danger my-rtl">
                         <strong>اکانت شما اجازه دسترسی به این پیج را ندارد</strong>
                     </div>

                    {% else %}
                         <div class="alert alert-danger my-rtl">
                             <strong>لطفا برای مشاهده این پیچ لاگین کنید</strong>
                         </div>
                    {% endif %}
                  {% endif %}
                </div>
			</div>
			<div class="card-body d-flex justify-content-center">

				<form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
					<div class="input-group form-group">
                        <input type="text" class="form-control text-right" placeholder="نام کاربری" name={{ form.username.name }} autofocus="" autocapitalize="none" autocomplete="{{ form.username.name }}" maxlength="150" required="" id="id_{{ form.username.name }}">
{#                        <input type="text" class="form-control text-right" placeholder="نام کاربری">#}
						<div class="input-group-prepend">
							<span class="input-group-text rounded-right"><i class="fas fa-user"></i></span>
						</div>
					</div>
					<div class="input-group form-group">


                        <input type="password" class="form-control text-right" placeholder="کلمه عبور" name="{{ form.password.name }}" autocomplete="current-password" required="" id="id_{{ form.password.name }}">
{#						<input type="password" class="form-control text-right" placeholder="کلمه عبور">#}
                        <div class="input-group-prepend ">
							<span class="input-group-text rounded-right"><i class="fas fa-key"></i></span>
						</div>
					</div>

					<div class="form-group">
						<input type="submit" value="ورود" class="btn btn-block float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
                    <strong>
					  آیا شما قبلا ثبت نام کرده اید؟ <a class="mx-3" href="{% url 'register' %}"> نام نویسی</a>
                        </strong>
				</div>
			</div>
		</div>
        </div>
    </div>


{% endblock %}