.tree {

	direction: rtl;
	font-size: 11px;
	text-align: center;
	overflow-y: hidden;
	overflow-x: auto;
}

.word {
	fill: #555;
	cursor: default;
}
.tag {
	fill: #777;
}
.edge, .arrow {
	stroke: #ccc !important;
	stroke-width: 1.5;
}
.dependency {
	fill: #ccc;
}

.dependency.active {
	fill: #3276b1;
}
.word.active, .edge.active, .arrow.active {
	stroke: #3276b1 !important;
}
.word.w0 {
	fill: #ccc;
}


/*modal css*/



.card-body {

	  max-width: 100%;
	  width: 100%;
	  height: 10%;
	  overflow-y: initial !important
}



.card-body{
    overflow-x: auto;
}


.links path {
  fill: none;
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  fill: #d62333;
  stroke: #fff;
  stroke-width: 1px;
}

