#text-place {
  height: 75vh;
  overflow-y: auto; /* Add the ability to scroll */
}

/*!* Hide scrollbar for Chrome, Safari and Opera *!*/
/*#text-place::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/

/*!* Hide scrollbar for IE, Edge and Firefox *!*/
/*#text-place {*/
/*  -ms-overflow-style: none;  !* IE and Edge *!*/
/*  scrollbar-width: none;  !* Firefox *!*/
/*}*/

#text-place #sentens ul li a:hover{
  font-weight: bold;
  color: #4114a7 !important;
}

.my-active {
  z-index: 2;
  color: #fff;
  background-color: #d5e0ea;
  border-color: #d2d9e0;
}

.my-rtl{
  direction: rtl;
}

#sentens-nav-item-anchor{
  font-size: 12px;
  padding-right: 1px;
}

#sentens-text p{
  font-size: 14px;
}

#list-doc-body ul li p a{
  font-size: 12px;
  padding-right: 1px;
  text-decoration: none;
  color:#1a1a1a !important;
}

#list-doc-body ul li p a:hover{
  font-weight: bold;
  color: #4114a7 !important;
}

#list-doc-body ul li label{
  font-size: 10px;
  text-decoration: none;
  color:#1a1a1a !important;
}

#list-doc-body ul li label:hover{
  font-weight: bold;
  color: #4114a7 !important;
}


#list-doc-body {
  overflow-y: auto;
  height: 75vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#list-doc-body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#list-doc-body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#sentens-text label {
  color: #000000 !important;
  font-size: 14px;
}

#sentens-text label:hover {
  color: #4114a7 !important;
  font-weight: bold;
}



