@font-face {
    font-family: "My";
    src:url('../fonts/Iraniansans.ttf') format("opentype");
}

/*@font-face {*/
/*    font-family: "MyENG";*/
/*    src:url('../fonts/Iraniansans.ttf') format("opentype");*/
/*}*/

*{
    font-family: My, serif  ;
}

.eng_txt{
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.bg-nav-2{
  z-index: 2;
  color: #fff;
  background-color: #03d0f3;
  border-color: #d2d9e0;
}

.btn-nav-1{
  z-index: 2;
  color: #110a09;

}
