{% extends 'txt_process/text_base.html' %}
{% load static %}


{% block javascript %}

            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
            <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>

            <script src="https://d3js.org/d3.v4.min.js"></script>
            <script src="{% static 'txt_process/js/arcTree.js' %}"></script>
            <script src="{% static 'txt_process/js/syntactic_main.js' %}"></script>

            <script >
                $(document).ready(function() {
                  drawArcTree('sentence-syntactic-tree-data','{{ sentence.pk }}','card-body')
                });
            </script>



{% endblock %}

{% block css %}

    <link rel="stylesheet" href="{% static 'txt_process/css/edit-page.css' %}" />
    <link rel="stylesheet" href="{% static 'txt_process/css/arcTree.css' %}" />

{% endblock %}

{% block content %}

   <!-- Modal -->
    <div class="modal fade" id="modalSyntacticLabelPath" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header ">

                <button type="button" class="close shadow-none" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>

                  <h6 class="modal-title" id="exampleModalLongTitle"> کلمه مورد نظر را انتخاب کنید  </h6>
              </div>
              <div class="modal-body">


              <div class="row justify-content-between my-rtl px-4 mb-3 text-right" >
                {% for token in paragraph.token_set.all|dictsort:"pk"  %}
                   <button onclick="selectTargetTokenModal('{{ token.text }}', '{{ token.pk }}')" class=" btn btn-secondary text-white text-center m-1 p-1 rounded  " >  {{ token.text }}  </button>
                {% endfor %}
              </div>
              <div class="row justify-content-around" >
                  <div class="col-2 "><span id="modalSyntacticNodeTarget" ></span></div>
                  <div class="col-2" hidden ><span  id="modalSyntacticNodeTargetIdHidden" ></span></div>

                  <div class="col-4" >
                     <select id="modalSyntacticLabelSelectOption" class="form-control text-right">
                        {% for label in labels %}
                               <option style="color: {{ label.color }}" value="{{ label.pk }}" class="text-right">{{ label.name }}</option>
                        {% endfor %}
                     </select>
                  </div>


                  <div class="col-2" ><span  id="modalSyntacticNodeSource" ></span></div>
                  <div class="col-2" hidden ><span id="modalSyntacticNodeSourceIdHidden" ></span></div>
              </div>

              </div>
              <div class="modal-footer ">
                <button type="button" class="btn btn-secondary mx-2" data-dismiss="modal">بستن</button>
                <button type="button" onclick="saveSourceTargetTokenModal2('{{ sentence.pk }}')" class="btn btn-primary">ذخیره تغییرات</button>
              </div>
            </div>
          </div>
        </div>


    <div class="container">
        <div style="height: 85vh" class=" card  shadow-sm bg-white rounded">

            <div class="card-header">
                <div class="row" >
                     <div class="col-3 text-center mt-3">
                         {% if next %}
                             بعدی <a href="{% url 'syntactic-detail' pk=next.pk %}" ><i class="fa fa-arrow-circle-left text-info" ></i></a>

                             {% else %}
                             بعدی<a style="pointer-events: none" href="#" > <i class="fa fa-arrow-circle-left text-muted" ></i></a>
                         {% endif %}
                     </div>
                     <div class="col-6 text-center">
                         <div class="d-flex justify-content-around">
                             <div style="width: 45%" class="p-2 mt-2">{{ sentence.document.sentence_set.all|length }}</div>
                             <div style="width: 10%" class="p-2 mt-2"><label class=""> از </label> <label style="display: none" id="syntactic-sentence-pk">{{ sentence.pk }}</label></div>
                             <div style="width: 45%"  class="p-2"><input  type="number" id="syntactic-sentence-num" value="{{ num }}" class="form-control text-center shadow-none" /></div>
                         </div>
                     </div>
                     <div class="col-3 text-center mt-3">
                         {% if priv %}

                             <a href="{% url 'syntactic-detail' pk=priv.pk %}" > <i class="fa fa-arrow-circle-right text-info" ></i></a>قبلی

                             {% else %}

                             <a style="pointer-events: none" href="#" > <i class="fa fa-arrow-circle-right text-muted" ></i></a>قبلی
                         {% endif %}
                     </div>
                </div>
            </div>

        <div  class="card-body d-flex justify-content-center  p-0 {% if sentence.type == 'F' %} my-rtl {% endif %} " id="">

            <div class="p-2" id="card-body">

                <svg>  </svg>

            </div>

        </div>


        </div>
    </div>

{% endblock %}