{% extends 'txt_process/text_base.html' %}
{% load static %}
{% load random_numbers %}
{% load rest_framework %}

{% block javascript %}

            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
            <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>


            <script src="{% static 'txt_process/js/edit-page.js' %}"></script>





{% endblock %}

{% block css %}

    <link rel="stylesheet" href="{% static 'txt_process/css/edit-page.css' %}" />

{% endblock %}

{% block content %}
    <!-- Modal Show Edit Sentence -->
    <div class="modal fade" id="modalEditSentence" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header bg-nav-2 ">

                <button type="button" class="close shadow-none" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>

                  <h6 class="modal-title my-rtl" id="exampleModalLongTitle"> تغییرات مورد نظر را اعمال کنید ! </h6>
              </div>
              <div class="modal-body">

                  <textarea rows="5" cols="70" class="col-12 form-control input-long  my-rtl" name="textArea" id="modalEditSentenceTextArea"> {{ sentence.text }}</textarea>

              </div>
              <div class="modal-footer ">
                <button type="button" class="btn btn-secondary mx-2" data-dismiss="modal">بستن</button>
                <button type="button" onclick="saveChangeSentenceText('{{ sentence.pk }}')" class="btn btn-primary">ذخیره تغییرات</button>
              </div>
            </div>
          </div>
        </div>


    <div class="container">

        <div style="height: 85vh" class=" card  shadow-sm bg-white rounded">

            <div class="card-header">
                   <label  id="para" style="direction: ltr !important;"  class="w-100" ondblclick="$('#modalEditSentence').modal()">
                         {{ sentence.text }}
                   </label>

            </div>

            <div class="card-body pt-0">
                 <div class="row " >

                     <div class="col-3 text-center mt-3">
                         {% if next %}
                            <label>بعدی</label> <a href="{% url 'edit-sentence' pk=next.pk name='صرفی' %}" ><i class="fa fa-arrow-circle-left text-info" ></i></a>

                             {% else %}
                             <label>بعدی</label><a style="pointer-events: none" href="#" > <i class="fa fa-arrow-circle-left text-muted" ></i></a>
                         {% endif %}
                     </div>

                     <div class="col-6 text-center">
                         <div class="d-flex justify-content-around">
                             <div style="width: 45%" class="p-2 mt-2">{{ sentence.document.sentence_set.all|length }}</div>
                             <div style="width: 10%" class="p-2 mt-2"><label class=""> از </label> <label style="display: none" id="morpho-sentence-pk">{{ sentence.pk }}</label></div>
                             <div style="width: 45%"  class="p-2"><input  type="number" id="morpho-sentence-num" value="{{ num }}" class="form-control shadow-none text-center" /></div>
                         </div>
                     </div>

                     <div class="col-3 text-center mt-3">
                         {% if priv %}

                             <a href="{% url 'edit-sentence' pk=priv.pk name='صرفی' %}" > <i class="fa fa-arrow-circle-right text-info" ></i></a><label>قبلی</label>

                             {% else %}

                             <a style="pointer-events: none" href="#" > <i class="fa fa-arrow-circle-right text-muted" ></i></a><label>قبلی</label>
                         {% endif %}
                     </div>

                 </div>


                <div  class="row mt-3 token_place border-top">

                 <table class="table table-bordered  my-rtl">

                 <thead>
                      <th style="width: 16%" scope="col">کلمه</th>
                      <th style="width: 16%"  scope="col">ریشه</th>
                      <th style="width: 16%"scope="col">POS</th>
                      <th style="width: 16%" scope="col">f & pos</th>
                 </thead>
                     <tbody  >
                           {% for token in sentence.token_set.all|dictsort:"pk" %}

                            <tr id="{{ token.pk }}">

                              <td id="token"  class="justify-content-start "  ><p cl data-toggle="tooltip" class="w-100 justi" title="{{ token.pk }}" >{{ token.text }}</p></td>

                              <td id="root-word" >
                                    <div class="input-group ">
                                      <div class="input-group-prepend">
{#                                          button for show token modal#}
                                        <span data-toggle="tooltip" title="{{ token.system_root }}" id="root-word-btn-{{ token.pk }}" class="input-group-text btn btn-info shadow-none" onclick="setRootWord('{{ token.pk }}', '{{ token.text }}')">?</span>
                                      </div>
                                      <input id="root-word-input-{{ token.pk }}" type="text" class="form-control shadow-none " placeholder="..." aria-label="Username" aria-describedby="basic-addon1" value="{% if token.user_root %} {{ token.user_root }} {% endif %}" >

                                        <div class="input-group-append">
                                            <span id="save-root-word-btn-{{ token.pk }}" class="input-group-text btn btn-info shadow-none {% if token.user_root %}  text-success {% endif %}" onclick="saveRootWord('{{ token.pk }}')"><i class="fa fa-save" ></i></span>
                                        </div>
                                    </div>

                              </td>

                              {% if token.bigPOS %}
                                  <td class="justify-content-center text-center">

                                      <select style="width: 46%"  class="" id="select-{{ token.pk }}" onchange="add_option('{{ token.pk }}','select-{{ token.pk }}','B')" disabled="disabled" >

                                        <option style="display: none">---</option>
                                        {% for item in level_one %}
                                            {% if  token.bigPOS  == item %}
                                                <option value="{{ item.pk }}" selected="selected"  >{{ item.name }}</option>
                                             {% else %}
                                                <option value="{{ item.pk }}">{{ item.name }}</option>
                                            {% endif %}
                                        {% endfor %}

                                      </select>

                                  </td>

                                  {% else %}

                                  <td class="justify-content-center text-center">

                                      <select style="width: 46%"  class="" id="select-{{ token.pk }}" onchange="add_option('{{ token.pk }}','select-{{ token.pk }}','B')" >


                                        <option style="display: none">---</option>
                                        {% for item in level_one %}

                                            <option value="{{ item.pk }}" >{{ item.name }}</option>

                                        {% endfor %}


                                      </select>

                                  </td>
                              {% endif %}

                            {% check_future token.pk as check %}
                            {% if token.bigPOS %}

                             <td id="f-pos" >
                            {% if token.smallPOS  %}
                                   {% random_int 1 1000 as random_id %}

                                      <div  class="row mb-2 px-2 pos ">

                                          <a  style="width: 7%; font-size: 11px; pointer-events:none" class="remove text-center pt-1" onclick="remove_option('select-{{ token.pk }}-{{ random_id }}', 'select-{{ token.pk }}','{{ token.pk }}')" href="#" ><i class="fa fa-remove text-muted" ></i></a></di>
                                          <select  style="width: 43%;" id="select-{{ token.pk }}-{{random_id}}" onchange="add_option('{{token.pk}}', 'select-{{ token.pk }}-{{ random_id }}', 'S')" disabled="disabled">
                                                 <option value="---"  style="display: none">---</option>
                                                 {% for item in token.bigPOS.get_children  %}

                                                     {% if not item.futureFlag  %}
                                                         {% if  token.smallPOS  == item %}
                                                                <option value="{{ item.pk }}" selected="selected"  >{{ item.name }}</option>
                                                           {% else %}
                                                                <option value="{{ item.pk }}">{{ item.name }}</option>
                                                         {% endif %}

                                                     {% endif %}

                                                 {% endfor %}
                                          </select>
                                      <a style="width: 40%" class="come-back text-center " onclick="comeBack('select-{{ token.pk }}-{{random_id}}', '{{ token.pk }}')" href="#" >
                                        <i class="fa fa-arrow-circle-right text-danger" ></i>
                                      </a>
                                      </div>


                                    {% elif not token.smallPOS and token.bigPOS %}


                                      <div  class="row mb-2 px-2 pos ">

                                          <a  style="width: 7%; font-size: 11px; " class="remove text-center pt-1" onclick="remove_option('select-{{ token.pk }}-{{ random_id }}', 'select-{{ token.pk }}','{{ token.pk }}')" href="#" ><i class="fa fa-remove text-danger" ></i></a></di>
                                          <select  style="width: 43%;" id="select-{{ token.pk }}-{{random_id}}" onchange="add_option('{{token.pk}}', 'select-{{ token.pk }}-{{ random_id }}', 'S')" >
                                                 <option value="---"  style="display: none">---</option>
                                                 {% for item in token.bigPOS.get_children  %}

                                                     {% if not item.futureFlag  %}
                                                         <option value="{{ item.pk }}">{{ item.name }}</option>
                                                     {% endif %}

                                                 {% endfor %}
                                          </select>

                                      </div>


                            {% endif %}





                             {% if check %}

                                 <div class="row px-2 f">

                                     <table class="table shadow-sm bg-white rounded" id="future-table-select-{{ token.pk }}">

                                          <thead>
                                            <th class="p-1 text-center rounded" style="width: 7%; font-size: 9px"  scope="col"><a class="remove" onclick="futureAddRow('{{ random_id }}','{{token.pk}}', {{ token.bigPOS.pk }})" href="#" ><i class="fa fa-plus text-info" ></i></a></th>
                                            <th class="p-1 text-center rounded" style="width: 43%; font-size: 9px" scope="col">فیچر</th>
                                            <th class="p-1 text-center rounded" style="width: 43%; font-size: 9px"  scope="col">مقدار</th>
                                            <th class="p-1 text-center rounded" style="width: 7%; font-size: 9px"  scope="col"><a class="remove" onclick="futureRemoveTable('future-table-select-{{ token.pk }}','{{ token.pk }}')" href="#" ><i class="fa fa-trash-o text-danger" ></i></a></th>

                                          </thead>

                                          <tbody id="future-table-{{random_id}}">



                                            {% for item in token.futurevalue_set.all %}
                                                {% random_int 0 10000  as is_random %}
                                                <tr id="future-table-tr-{{is_random}}">

                                                  <td class="px-1">
                                                  <a   style="font-size: 11px ;" class="remove " onclick="futureRemoveRow('{{is_random}}','{{ item.pk }}')" href="#" ><i class="fa fa-remove text-danger" ></i></a>
                                                  </td>

                                                  <td id="future-table-td-{{is_random}}" class="">
                                                     <select style="width: 100%" id="future-{{ is_random }}" onchange="update_future('{{ token.pk }}', '{{is_random}}', '{{ item.pk }}')"  disabled="disabled">
                                                         <option style="display: none">---</option>
                                                         {%  for child in token.bigPOS.get_children %}

                                                             {% if child.futureFlag %}
                                                                 {% if child.name == item.future.name  %}
                                                                 <option   value="{{ child.pk }}" selected="selected" >{{child.name}}</option>
                                                                 {% endif %}
                                                                 <option   value="{{ child.pk }}" >{{child.name}}</option>
                                                             {% endif %}

                                                         {% endfor %}

                                                     </select>
                                                 </td>


                                                  {% if item.futureValue %}
                                                      {% random_int 0 10000 as is_random_f_v %}
                                                      <td id="future-table-td-{{is_random_f_v}}" class="">
                                                         <a style="width: 10%; font-size: 11px;pointer-events:none" class="remove" onclick="futureRemoveOption('future-{{is_random_f_v}}', 'future-{{ is_random }}')" href="#" ><i class="fa fa-remove text-muted" ></i></a>
                                                         <select style="width: 80%; "  id="future-{{ is_random_f_v }}" onchange="add_future_value('{{ token.pk }}', '{{is_random_f_v}}','{{ item.pk }}')"  disabled="disabled" >

                                                             <option style="display: none">---</option>
                                                             {%  for child in item.future.get_children %}
                                                                     {% if child.name == item.futureValue.name  %}
                                                                     <option   value="{{ child.pk }}" selected="selected" >{{child.name}}</option>
                                                                     {% endif %}
                                                                     <option   value="{{ child.pk }}" >{{child.name}}</option>
                                                             {% endfor %}

                                                         </select>
                                                      </td>
                                                        <td class="px-1"><a style="width: 7%; font-size: 10px"  class="come-back text-center" id="{{ is_random_f_v }}" onclick="comeBackPos('future-{{ is_random_f_v }}')" href="#" >
                                                        <i class="fa fa-arrow-circle-right text-danger" ></i>
                                                      </a></td>
                                                      {% else %}

                                                         <td id="future-table-td-{{is_random_f_v}}" class="">
                                                         <a style="width: 10%; font-size: 11px" class="remove" onclick="futureRemoveOption('future-{{is_random_f_v}}', 'future-{{ is_random }}')" href="#" ><i class="fa fa-remove text-danger" ></i></a>
                                                         <select style="width: 80%; "  id="future-{{ is_random_f_v }}" onchange="add_future_value('{{ token.pk }}', '{{is_random_f_v}}','{{ item.pk }}')" >

                                                             <option style="display: none">---</option>
                                                             {%  for child in item.future.get_children %}
                                                                     {% if child.name == item.futureValue.name  %}
                                                                     <option   value="{{ child.pk }}" selected="selected" >{{child.name}}</option>
                                                                     {% endif %}
                                                                     <option   value="{{ child.pk }}" >{{child.name}}</option>
                                                             {% endfor %}

                                                         </select>
                                                      </td>



                                                  {% endif %}


                                                 </tr>

                                            {% endfor %}



                                            <tr id="future-table-tr-{{random_id}}">

                                              <td class="px-1">
                                              <a   style="font-size: 11px ;" class="remove " onclick="futureRemoveRow('{{random_id}}')" href="#" ><i class="fa fa-remove text-danger" ></i></a>
                                              </td>
                                              <td id="future-table-td-{{random_id}}" class="">
                                                 <select style="width: 100%" id="future-{{ random_id }}" onchange="update_future('{{ token.pk }}', '{{random_id}}', null)" >
                                                     <option style="display: none">---</option>
                                                     {%  for item in token.bigPOS.get_children %}

                                                         {% if item.futureFlag %}
                                                             <option   value="{{ item.pk }}" >{{item.name}}</option>
                                                         {% endif %}

                                                     {% endfor %}

                                                 </select>
                                              </td>
                                             </tr>
                                          </tbody>

                                     </table>

                               </div>

                             {% endif %}

                             </td>
                            {% endif %}
                            </tr>

                           {% endfor %}
                  </tbody>
                 </table>


                </div>

            </div>


        </div>

    </div>



{% endblock %}