{% load static %}
{% load mptt_tags %}
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">


  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="{% static 'txt_process/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'txt_process/css/main.css' %}">

  <link rel="stylesheet" href="{% static 'txt_process/css/foundation.css' %}" />
  <link rel="stylesheet" href="{% static 'txt_process/css/app.css' %}" />
  <link rel="stylesheet" href="{% static 'txt_process/css/d3-context-menu.css' %}" />

{#    <script src="https://ajax.googleapis.com/ajax/libs/d3js/6.1.1/d3.min.js"></script>#}
    <script src="{% static 'txt_process/js/d3.v3.min.js' %}"></script>
    <script src="{% static 'txt_process/js/d3-context-menu.js' %}"></script>
    <script src="{% static 'txt_process/js/underscore-min.js' %}"></script>
    <script src="{% static 'txt_process/js/jquery.js' %}"></script>
    <script src="{% static 'txt_process/js/fastclick.js' %}"></script>
    <script src="{% static 'txt_process/js/foundation.min.js' %}"></script>
    <script src="{% static 'txt_process/js/dndTree.js' %}"></script>

    <script src="{% static 'txt_process/js/main.js' %}"></script>





  <meta name="theme-color" content="#fafafa">
</head>

<body  >

           <div id="RenameNodeModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
          <h2 id="modalTitle">تغییر نام گره </h2>
          <form id="RenameNodeForm">
            <div class="row">
              <div class="large-12 columns">
                <label>نام گره
                  <input type="text" class="inputName" id='RenameNodeName' placeholder="node name" />
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-8 columns">
                &nbsp;
              </div>
              <div class="large-4 columns">
                <a href="#" class="button info" onclick="close_rename_node_modal()">لغو</a>
                <a href="#" class="button success" onclick="rename_node()">تغییر نام</a>
              </div>
            </div>
          </form>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>

           <div id="CreateNodeModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
          <h2 id="modalTitle">ایجاد گره</h2>
          <form id="CreateNodeForm">
            <div class="row">
              <div class="large-12 columns">
                <label>نام گره
                  <input type="text" class="inputName" id='CreateNodeName' placeholder="node name" />
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-8 columns">
                &nbsp;
              </div>
              <div class="large-4 columns">
                <a href="#" class="button info" onclick="close_create_node_modal()">لغو</a>
                <a href="#" class="button success" onclick="create_node()">ایجاد</a>
              </div>
            </div>
          </form>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>



        <div class="align-content-center" id="tree-container"></div>

  <script src="{% static 'txt_process/js/vendor/modernizr-3.11.2.min.js' %}"></script>
  <script src="{% static 'txt_process/js/plugins.js' %}"></script>


  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
