{% extends 'txt_process/text_base.html' %}
{% load rest_framework %}
{% load static %}

{% block title %}
  {% if  text2 %}
        {{ text2.name }}
      {% else %}
        خانه
  {% endif %}
{% endblock %}

{% block css %}

    <link rel="stylesheet" href="{% static 'txt_process/css/get_text_doc.css' %}">
    <link rel="stylesheet" href="{% static 'txt_process/css/arcTree.css' %}">


{% endblock %}


{% block javascript %}

    <script src="{% static 'txt_process/js/home_main.js' %}"></script>

{% endblock %}


{% block content %}


    <!-- delete document modal  -->
    <div class="modal fade " id="modal-delete-document" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header bg-nav-2 ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h5 class="modal-title">حذف سند</h5>
                </div>
                <div class="modal-body">

                    <div class="d-flex flex-column bd-highlight">
                        <div class="p-2 bd-highlight"><label id="modal-delete-document-label-doc-name"> </label></div>
                        <div class="p-2 bd-highlight"><label> آیا از حذف این سند اطمینان دارید ؟</label></div>
                    </div>

                    <label style="display: none" id="modal-delete-document-label-doc-pk"> </label>

                </div>

                <div class="modal-footer ">
                    <button type="button" class="btn btn-secondary ml-2" data-dismiss="modal">خیر</button>
                    <button type="button" class="btn btn-primary" onclick="deleteDocument()"> بله</button>
                </div>

            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-end bg-nav-2">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h5 class="modal-title" id="exampleModalLabel"> افزودن سند جدید </h5>
                </div>
                <div class="modal-body">
                    <form id="modalAddDocument" class="w-100 justify-content-end text-left" action="{% url 'home' %}"
                          method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group ">
                            <input id="modalAddDocInputDocName" name="text" class="form-control my-rtl" type="text"
                                   required="required" title="{{ serializer.text.error_messages.required }}"
                                   placeholder="{{ serializer.text.label }}"
                                   oninvalid="this.setCustomValidity('برای پیکره خود یک نام انخاب کنید')"
                                   oninput="this.setCustomValidity('')">
                        </div>

                        <div class="form-group mb-3 custom-file">


                            <input type="file" class="custom-file-input" name="my_doc" id="customFileLangHTML"
                                   required="required"
                                   oninvalid="this.setCustomValidity('پیکره خود را انتخاب کنید')"
                                   oninput="this.setCustomValidity('')">
                            <label class="custom-file-label" for="customFileLangHTML" data-browse="بارگزاری">
                            </label>


                        </div>

                        <div class="form-group ">

                            <select class="form-control my-rtl" name="type">
                                <option value="F">فارسی</option>
                                <option value="I">آوانگاری شده</option>
                            </select>
                        </div>

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                        <input type="submit" class="btn btn-primary" value="ذخیره">
                    </form>
                </div>
                {% if serializer.error %}
                    <div class="modal-footer">
                        {{ serializer.error }}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    <div class=" row justify-content-around  mx-0 ">

        <div style="height: 85vh;" class=" rounded col-6 shadow-lg bg-white mt-2 p-0">
            <nav class=" rounded-top navbar navbar-expand-lg navbar-light bg-nav-2">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item" id="s_b_show">
                            <label class="nav-link"> {{ text2.name }}  </label>
                        </li>

                    </ul>

                </div>
            </nav>
            <div style="direction: ltr " class="" id="text-place">
                {% if text2 %}

                    <div id="sentens" class="p-3" style="display: block;">
                        {% for sentence in text2.sentence_set.all|dictsort:'pk' %}
                            <div class="row  rounded shadow-sm mb-2 ">

                                <div id="sentens-nav" class="row w-100">

                                    <ul class="nav w-100 {% if sentence.type == 'F' %} my-rtl  {% endif %} ">

                                        <li class="nav-item ">
                                            <a id="sentens-nav-item-anchor" class="nav-link active text-dark "
                                               href="{% url 'edit-sentence' pk=sentence.pk name='صرفی' %}">

                                                {% if sentence.type == 'F' %}
                                                    <i class="fa fa-pencil text-info"> </i>  صرفی
                                                {% elif sentence.type == 'I' %}
                                                    <i class="fa fa-pencil text-info  "> </i>
                                                    <i class=" eng_txt "> Morphological</i>
                                                {% endif %}
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a id="sentens-nav-item-anchor" class="nav-link active text-dark "
                                               href="{% url 'syntactic-detail' pk=sentence.pk %}">

                                                {% if sentence.type == 'F' %}
                                                    <i class="fa fa-pencil text-info"> </i>   نحوی
                                                {% elif sentence.type == 'I' %}
                                                    <i class="fa fa-pencil text-info  "> </i>
                                                    <i class=" eng_txt "> syntactic</i>
                                                {% endif %}
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a id="sentens-nav-item-anchor" class="nav-link active text-dark " href="#">
                                                <i class="fa fa-trash-o text-danger"> </i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div id="sentens-text" class="row w-100  mx-2 justify-content-end">

                                    <label class=" text-justify px-4  w-100 {% if sentence.type == 'F' %} my-rtl   {% endif %} {% if sentence.type != 'F' %} eng_txt   {% endif %}">
                                        {{ sentence.text }}
                                    </label>

                                </div>

                            </div>
                        {% endfor %}
                    </div>

                {% endif %}
            </div>

        </div>

        <div id="list-doc" style="height: 85vh;" class="col-3 shadow-sm bg-white rounded mt-2 p-0">
            <nav id="list-doc-nav" class="rounded-top navbar navbar-expand-lg navbar-light bg-nav-2">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item" id="t_b_show">
                            <button type="button" class="btn btn-secondary btn-nav-1" data-toggle="modal"
                                    data-target="#exampleModal"><i class="fa fa-plus-circle text-warning"></i></button>
                        </li>

                    </ul>

                </div>
            </nav>

            <div id="list-doc-body">

                <ul class="list-group list-group-flush doc_list w-100 px-0">
                    {% for foo in doc_serializer %}

                        <li id="doc-{{ foo.pk }}"
                            class="list-group-item justify-content-center p-0 {% if foo.pk == text2.pk %} my-active {% endif %} ">

                            <div class="row">
                                <div class="col">
                                    <div class="d-flex flex-row-reverse justify-content-end">
                                        <div class="p-2">
                                            <button class="btn btn-link px-0" ><i class="fa fa-edit text-info"></i></button>
                                        </div>

                                        <div class="p-2">
                                            <a class="btn btn-link px-0" href="{% url 'create-file' pk=foo.pk %}" download><i class="fa fa-download text-success"></i></a>
{#                                            <a class="btn btn-link px-0" href="{% url 'create-file' pk=foo.pk %}" onclick="createFile('{{ foo.pk }}')" ><i class="fa fa-download text-success"></i></a>#}
{#                                            <a href="{% url 'create-file' pk=foo.pk %}" class="btn btn-link px-0"><i class="fa fa-download text-success"></i></a>#}
                                        </div>
                                        <div class="p-2">
                                            <button class="btn btn-link px-0" ><i class="fa fa-trash-o text-danger"
                                                           onclick="showModalDeleteDocument('{{ foo.pk }}','{{ foo.name }}')"></i></button>
                                        </div>
                                    </div>

                                </div>
                                <div class="col">
                                    <div class="mt-3"><p class="text-muted px-2"><a
                                            href="{% url 'get_doc' pk=foo.pk %}"> {{ foo.name }} -- {{ foo.pk }} </a>
                                    </p></div>

                                </div>
                            </div>
                            <div class="row ">

                                <div class="col">
                                    <div class="d-flex flex-row-reverse justify-content-between">
                                        <div class="p-2">
                                            <label>تعداد کلمات : {{ foo.token_num }}</label>
                                        </div>
                                        <div class="p-2">
                                            <label href="#">نوع :{% if foo.type == 'F' %}
                                                فارسی {% elif foo.type == 'I' %} آوانگاری {% endif %}</label>
                                        </div>
                                        <div class="p-2">
                                            <label href="#">تعداد جملات : {{ foo.sentence_num }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    {% endfor %}
                </ul>

            </div>

        </div>

    </div>
{% endblock %}



