{% extends 'registration/base.html' %}
{% load static %}




{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'txt_process/css/login.css' %}">
{% endblock %}

{% block body_block %}


      {% if next %}
        {% if user.is_authenticated %}
          <p>اکانت شما اجازه دسترسی به این پیج را ندارد.</p>
        {% else %}
          <p>لطفا برای مشاهده این پیچ لاگین کنید</p>
        {% endif %}
      {% endif %}

    <div class="row">

    	<div class="col-12 d-flex justify-content-center h-100 mt-5">
        {% if user.is_authenticated %}
            <div class="card pb-3">
			<div class="card-header text-right">

				<div class="d-flex justify-content-start social_icon">

                    <span><a href="{% url 'logout' %}"  ><i class="fas fa-sign-in-alt"></i></a></span>
				</div>
                <div class="mt-4">
                 <p>در حال حاضز شما با آیدی {{ user.name }}لاگین هستید .ابتدا خارج شوید و سپس اقدام کنید</p>

                </div>
            </div>

		</div>

        {% else %}
		    <div class="card pb-3">
			<div class="card-header text-right">

				<div class="d-flex justify-content-start social_icon">

				</div>
                <div class="">
                        {% if form.errors %}
                            {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger my-rtl">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}

                            {% else %}
                            <h5>نام نویسی</h5>
                        {% endif %}
                </div>
			</div>
			<div class="card-body d-flex justify-content-center">

				<form method="post" >
                    {% csrf_token %}
					<div class="input-group form-group">
                        <input type="text" class="form-control text-right" placeholder="نام کاربری" name={{ form.username.name }} autofocus="" autocapitalize="none" autocomplete="{{ form.username.name }}" maxlength="150" required="" id="id_{{ form.username.name }}">
{#                        <input type="text" class="form-control text-right" placeholder="نام کاربری">#}
						<div class="input-group-prepend">
							<span class="input-group-text rounded-right"><i class="fas fa-user"></i></span>
						</div>
					</div>

					<div class="input-group form-group">
                        <input type="email" class="form-control text-right" placeholder="ایمیل" name="{{ form.email.name }}" autocomplete="current-password" required="" id="id_{{ form.email.name }}">
{#						<input type="password" class="form-control text-right" placeholder="کلمه عبور">#}
                        <div class="input-group-prepend ">
							<span class="input-group-text rounded-right"><i class="fas fa-envelope"></i></span>
						</div>

                    </div>

					<div class="input-group form-group">
                        <input type="password" class="form-control text-right" placeholder="کلمه عبور" name="{{ form.password1.name }}" autocomplete="current-password" required="" id="id_{{ form.password1.name }}">
{#						<input type="password" class="form-control text-right" placeholder="کلمه عبور">#}
                        <div class="input-group-prepend ">
							<span class="input-group-text rounded-right"><i class="fas fa-key"></i></span>
						</div>
					</div>

					<div class="input-group form-group">
                        <input type="password" class="form-control text-right" placeholder="تایید کلمه عبور" name="{{ form.password2.name }}" autocomplete="current-password" required="" id="id_{{ form.password2.name }}">
{#						<input type="password" class="form-control text-right" placeholder="کلمه عبور">#}
                        <div class="input-group-prepend ">
							<span class="input-group-text rounded-right"><i class="fas fa-key"></i></span>
						</div>
					</div>

					<div class="form-group ">
						<input type="submit" value="ثبت نام" class="btn btn-block float-right login_btn">
					</div>
				</form>

			</div>

			<div class="card-footer d-flex justify-content-center ">

                <strong class="links">آیا شما قبلا ثبت نام کرده اید؟ <a  href="{% url 'login' %}" > ورود </a></strong>

			</div>


		</div>
        {% endif %}
        </div>
    </div>

{% endblock %}