{% extends 'txt_process/text_base.html' %}
{% load static %}

{% block css %}

    <link rel="stylesheet" href="{% static 'txt_process/css/setting.css' %}">
    <link rel="stylesheet" href="{% static 'txt_process/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'txt_process/css/main.css' %}">

    <link rel="stylesheet" href="{% static 'txt_process/css/foundation.css' %}"/>
    <link rel="stylesheet" href="{% static 'txt_process/css/app.css' %}"/>
    <link rel="stylesheet" href="{% static 'txt_process/css/d3-context-menu.css' %}"/>

{% endblock %}


{% block content %}



    <div class="row  m-0">


        <div class="col-10 shadow-sm bg-white rounded " id="tree_place">

            <div id="RenameNodeModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
                 role="dialog">
                <div class="row mb-3">
                    <div class="col-1"><a class="close-reveal-modal" aria-label="Close"><label>&#215;</label></a></div>
                    <div class="col-11"><h6 style="font-family: My;" id="modalTitle">تغییر نام گره </h6></div>

                </div>

                <form id="RenameNodeForm">
                    <div class="row">
                        <div class="large-12 columns ">
                            <label class="mb-1">نام گره
                                <input type="text" class="inputName" id='RenameNodeName' placeholder="نام نود"/>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-12"> فیچر
                            <input id="future-check-box-change-name" type="checkbox">
                        </label>
                    </div>
                      <div class="row ">

                        <div class="col-9 input-group" id="modalRenameNodeColorPicker" >

                            <input class="rounded" id="modalRenameNodeColorPickerInput" type="text"  data-jscolor="{position:'right'}" value=""/>
                        </div>
                        <div class="col-3 py-2" > <label> انتخاب رنگ</label> </div>

                    </div>

                    <div class="row">
                        <div class="large-8 columns">
                            &nbsp;
                        </div>
                        <div class="large-4 columns my-2">
                            <a href="#" class="btn btn-success" onclick="rename_node()">تغییر نام</a>
                        </div>
                    </div>
                </form>

            </div>

            <!-- modal create child node -->
            <div id="CreateNodeModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
                 role="dialog">
                <div class="row mb-3 modal-header py-0">
                    <div class="col-1"><a class="close-reveal-modal" aria-label="Close"><label>&#215;</label></a></div>
                    <div class="col-11 my-2"><h6 style="font-family: My;" id="modalTitle">ایجاد گره</h6></div>

                </div>

                <form id="CreateNodeForm">
                    <div class="row">
                        <div class="large-12 columns">
                            <label class="mb-1">نام گره
                                <input type="text" class="inputName text-right" id='CreateNodeName'
                                       placeholder="نام نود"/>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-12"> فیچر
                            <input id="future-check-box-add-new-node" type="checkbox">
                        </label>
                    </div>

                    <div class="row ">

                        <div class="col-9 input-group" id="modalCrateChildColorPicker" >

                            <input class="rounded" id="modalCrateChildColorPickerInput" type="text"  data-jscolor="{position:'right'}" value="{{ Null }}"/>
                        </div>
                        <div class="col-3 py-2" > <label> انتخاب رنگ</label> </div>

                    </div>

                    <div class="row">
                        <div class="large-8 columns">
                            &nbsp;
                        </div>
                        <div class="large-4 columns my-2">
                            <a href="#" class="btn btn-success" onclick="create_node()">ایجاد</a>
                        </div>
                    </div>
                </form>
            </div>

            <!-- The Modal create root -->
            <div class="modal" id="addNodeModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>


                        <!-- Modal body -->
                        <div class="modal-body">

                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <input style="direction: rtl" type="text" class="form-control"
                                           id="inputRootNodeName" placeholder="نحوی">
                                </div>
                                <label style="direction: rtl" for="inputPassword" class="col-sm-2 col-form-label">
                                    نام </label>
                            </div>

                            <div class="row">
                                <label class="col-12"> فیچر
                                    <input id="future-check-box-create-root" type="checkbox">
                                </label>
                            </div>


                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button onclick="nnn()" type="button" class="btn btn-success" data-dismiss="modal">ذخیره
                            </button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="" id="tree-container"></div>

        </div>


        <div class="col-2  ">

            <ul class="list-group list-group-flush p-0 m-0 shadow bg-white rounded">

                <li class="list-group-item justify-content-center text-center border-top-0 border-bottom-0 shadow-sm bg-white rounded">
                    <button class="btn btn-lg  btn-light my-2" data-toggle="modal" data-target="#addNodeModal"><i
                            class="fa fa-plus text-" aria-hidden="false"></i></button>
                </li>

                <div class="root_list ">


                    {% for root in root_list %}

                        <li id="{{ root.id }}" class="list-group-item list-group-item-action text-center px-0 py-3">
                            <div class="row m-0 p-0">
                                <div class="col-3 px-1"><i onclick="get_tree('{{ root.name }}','{{ root.id }}')"
                                                           class="fa fa-arrow-circle-left text-info"></i></div>
                                <div class="col-3 px-1"><i
                                        onclick="delete_root_node('{{ root.name }}','{{ root.id }}', '{{ root.tree_id }}')"
                                        class="fa fa-trash text-danger"></i></div>
                                <div class="col-3 px-1"><a onclick="get_tree('{{ root.name }}','{{ root.id }}')">
                                    {% if root.name|length >= 6 %}

                                        {{ root.name|slice:":4" }}...

                                    {% else %}

                                        {{ root.name }}

                                    {% endif %}  </a></div>
                                <div class="col-3 px-1"><i class="fa fa-circle-o text-info " aria-hidden="true"></i>
                                </div>
                            </div>

                        </li>

                    {% endfor %}

                </div>


            </ul>


        </div>


    </div>

{% endblock %}


{% block javascript %}



    <script src="{% static 'txt_process/js/jquery.js' %}"></script>

    <script src="{% static 'txt_process/js/d3.v3.min.js' %}"></script>
    <script src="{% static 'txt_process/js/d3-context-menu.js' %}"></script>
    <script src="{% static 'txt_process/js/underscore-min.js' %}"></script>

    <script src="{% static 'txt_process/js/fastclick.js' %}"></script>
    <script src="{% static 'txt_process/js/foundation.min.js' %}"></script>
    <script src="{% static 'txt_process/js/dndTree.js' %}"></script>
    <script src="{% static 'txt_process/js/vendor/modernizr-3.11.2.min.js' %}"></script>
    <script src="{% static 'txt_process/js/plugins.js' %}"></script>

    <script src="{% static 'txt_process/js/main.js' %}"></script>
    <script src="{% static 'txt_process/js/jscolor.js' %}"></script>


    <script src="{% static 'txt_process/js/setting.js' %}"></script>




{% endblock %}



