<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>


<link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'txt_process/css/txt_process.css' %}" >

    {% block css %}

    {% endblock %}


</head>

<body class="bg-secondary">

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2 ">
      <a class="navbar-brand" href="{% url 'setting' %}"><i class="fa fa-cog text-warning" ></i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto  ">

          {% if user.is_authenticated %}

                <li class="nav-item active">
                  <a class="nav-link  " href="{% url 'logout'%}?next={{request.path}}" > {{ user.get_username }} <i class="fa fa-sign-out text-warning" > </i>  </a>
                </li>

           {% else %}

                <li class="nav-item active">
                  <a class="nav-link " href="{% url 'login'%}?next={{request.path}}" ><i class="fa fa-sign-in text-warning" ></i> {{ user.get_username }}  </a>
                </li>

           {% endif %}

           <li class="nav-item active">
            <a class="nav-link " href="{% url 'home' %}" ><i class="fa fa-home text-warning" ></i> </a>
          </li>
        </ul>

      </div>
    </nav>


{% block content %}

{% endblock %}
<script src="{% static 'txt_process/js/jquery.js' %}"></script>
<script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js" integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k" crossorigin="anonymous"></script>
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>#}
    {% block javascript %}

    {% endblock %}

</body>
</html>