
.highlight
{

    border-radius: 5px;
    overflow: hidden;
    padding: 2px;
    font-size: 16px;
    line-height: 26px;
}

.my-rtl{
  direction: rtl;
}


.token_place {
    height: 58vh;
    empty-cells: show;
    overflow-x: auto;    /* Trigger vertical scroll    */

}

/* Hide scrollbar for Chrome, Safari and Opera */
.token_place::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.token_place {
  -ms-overflow-style: none;  /* IE and Edge */
}





