#text-place {
  height: 74vh;
  overflow-y: auto; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#text-place::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#text-place {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.my-active {
  z-index: 2;
  color: #fff;
  background-color: #a3bcd4;
  border-color: #a3bcd4;
}

.my-rtl{
  direction: rtl;
}

#sentens-nav-item-anchor{
  font-size: 12px;
  padding-right: 1px;
}

#sentens-text p{
  font-size: 14px;
}

#list-doc-body {

  height: 79vh;
}

#list-doc-body ul li p a{
  font-size: 12px;
  padding-right: 1px;
  text-decoration: none;
}




