.root_list {
  height: 74vh;
  overflow-y: auto; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.root_list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.root_list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.my-active {
  z-index: 2;
  color: #fff;
  background-color: #a3bcd4;
  border-color: #a3bcd4;
}