@font-face {
    font-family: "My";
    src:url('../fonts/Iraniansans.ttf') format("opentype");
}

/*@font-face {*/
/*    font-family: "MyENG";*/
/*    src:url('../fonts/Iraniansans.ttf') format("opentype");*/
/*}*/

*{
    font-family: My  ;
}